.top-panel {
    margin-top: 30%;
}

.circled {
    border-radius: 50%;
}

.bg-form {
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid #ccc;
    padding: 10px;
}

.GFG { 
    color: rgb(116, 218, 121); 
    font-size: 50px; 
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: black; 
}

.color-dump {
    color: rgba(31, 173, 173, 0)
}

.bg-strek {
    background-color: rgb(140, 230, 154);
}

.bg-sidebar {
    background-color: rgb(229, 227, 227);
}

.bg-merah {
    background-color: rgb(255, 79, 79);
}

a {
    text-decoration: none;
}

.bg-sekolah {
    background-image: url('http://localhost/STREK-4/img/bg-sekolah.jpeg');
    height: 100vh;
}

#text-stroke {
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}
    