.top-panel {
    margin-top: 30%;
}

.circled {
    border-radius: 50%;
}

.GFG { 
    color: white; 
    font-size: 50px; 
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: black; 
}

.color-dump {
    color: rgba(31, 173, 173, 0)
}

.bg-strek {
    background-color: rgb(140, 230, 154);
}

.bg-sidebar {
    background-color: rgb(183, 183, 183);
    /* background-color: rgba(226,227,229,255); */
}

a {
    text-decoration: none;
}